node_modules

builds/*
!builds/README.md
!builds/workdir
builds/workdir/*
!builds/workdir/README.md

modules/README.txt
themes/README.txt
modules/contrib
themes/contrib
_deployments/server_app/app.config.json
